@import "partials/variables";
@import "partials/common";
@import "partials/header";
@import "partials/footer";
// MAIN------------------------------------
main{
  width: 100%;

  // jumbotron-------------------------------
  #jumbotron{
    display: flex;
    width: 80%;
    margin: 0 auto;
    .jumbotronSx{
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 100px 0;
      h1{
        font-size: 50px;
        letter-spacing: 3px;
        line-height: 75px;
      }
      p{
        font-size: $font-size;
        margin-top: 15px;
      }
      .jumbotronButtons{
        @include buttons;
        .jumbotronButton1{
          @include buttonGoogle;
        }
        .lightColor{
          color: #BDB5AF;
        }
        .jumbotronButton2{
          @include buttonSlack;
        }
      }
      .emailSend{
        @include emailSend;
        &:hover{
          color: $background-colorBlue;
          cursor: pointer;
          transition: 0.5s;
        }
      }
    }
    .jumbotronDx{
      width: 50%;
      margin: 100px 0;
      img{
        width: 100%;
      }
    }
  }

  // people processes----------------------
  .containerLarge{
    width: 100%;
    background-color: $background-colorPink;
    .processesContainer{
      width: 80%;
      margin: 0 auto;
      border-bottom: 1px solid #BDB5AF;
      h2{
        text-align: center;
        padding-top: 80px;
        font-size: $font-size;
        width: 60%;
        margin: 0 auto 30px;
        line-height: 40px;
      }
      .processesImgs{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        min-height: 190px;
        padding-top: 30px;
        .box{
          min-height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 20%;
          img{
            width: 150px;
          }
          p{
            letter-spacing: 1px;
            font-size: 17px;
            line-height: 30px;
            text-align: center;
          }
        }
        .boxMiddle{
          width: 28%;
        }
        .lastBox img{
          width: 75px;
        }
      }
      .processesImg{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 300px;
          margin: 60px auto;
        }
      }
    }
    .noBorder{
      border-bottom: none;
      padding-bottom: 30px;
    }
  }
  // feedback-reviews
  .feedback-reviews{
    margin: 100px 0;
    display: flex;
    width: 80%;
    .feedbackImg{
      width: 50%;
      img{
        width: 100%;
      }
    }
    .feedback-text{
      width: 50%;
      h2{
        font-size: $font-sizeH2;
        letter-spacing: 1px;
      }
      p{
        font-size: $font-size;
        margin-top: 15px;
        letter-spacing: 1px;
      }
      .learnMore{
        margin-top: 15px;
        display: flex;
        align-items: center;
        font-size: $font-size;
        letter-spacing: 1px;
        color: $background-colorBlue;
        padding-bottom: 30px;
        cursor: pointer;
        :first-child{
          margin-right: 3px;
        }
      }
      .trichecoImg{
        width: 100%;
        display: flex;
        justify-content: center;
        img{
          width: 300px;
        }
      }
    }
  }
  .right{
    margin: 100px 0 100px 20%;
  }

  //get started------------------------
  .getStartContainer{
    width: 80%;
    margin: 100px auto;
    h2{
      text-align: center;
      padding-top: 80px;
      font-size: 35px;;
      width: 50%;
      margin: 0 auto 30px;
      line-height: 60px;
    }
    .text{
      background-color: #fff;
      width: 50%;
      margin: auto;
      border: 1px solid #BDB5AF;
      border-radius: 6px;
      padding: 35px;
      position: relative;
      margin-bottom: 30px;
      p{
        line-height: 25px;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }
      .founder{
        display: flex;
        img{
          width: 40px;
          margin-right: 10px;
        }
        .nameFounder{
          display: flex;
          flex-direction: column;
          :first-child{
            color: $background-colorBlue;
            font-size: 15px;
          }
          :last-child{
            font-size: 12px;
            padding-top: 5px;
          }
        }
      }
      .virgolette{
        display: block;
        width: 37px;
        height: 39px;
        position: absolute;
        top: -23px;
        left: -1px;
        background: url(https://teambit.io/wp-content/themes/teambeat/img/landing/quote.svg) center center no-repeat;
        z-index: 1;
      }
    }
    .getStartButtons{
      @include buttons;
      justify-content: center;
      .getStartButton1{
        @include buttonGoogle;
      }
      .lightColor{
        color: #BDB5AF;
      }
      .getStartButton2{
        @include buttonSlack;
      }
    }
    .getStartEmailSend{
      @include emailSend;
      justify-content: center;
      padding-bottom: 30px;
      &:hover{
        color: $background-colorBlue;
        cursor: pointer;
        transition: 0.5s;
      }
    }
  }
}

// MEDIA QUERY---------------
// * versione xxs mobile -------------------------------*/

@media screen and (max-width:660px) {
  // jumbotron-------------------------------
  main #jumbotron{
    flex-direction: column;
    align-items: center;
    .jumbotronSx{
      width: 100%;
      align-items: center;
      margin: 100px 0 0 0;
      h1{
        // line-height: 75px;
        text-align: center;
        margin-bottom: 30px;
      }
      .jumbotronButtons{
        @include buttons;
        margin: 30px 0;
        .jumbotronButton1{
          @include buttonGoogle;
        }
        .lightColor{
          color: #BDB5AF;
        }
        .jumbotronButton2{
          @include buttonSlack;
        }
      }
      .emailSend{
        @include emailSend;
        &:hover{
          color: $background-colorBlue;
          cursor: pointer;
          transition: 0.5s;
        }
      }
    }
    .jumbotronDx{
      width: 100%;
      margin: 0 0 100px 0;
    }
  }
  // feedback-reviews
  main .feedback-reviews{
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    .feedbackImg, .feedback-text{
      width: 100%;
    }
  }
  main .feedback-reviews .feedback-text{
    h2, p{
      text-align: center;
    }
    .learnMore{
      justify-content: center;
    }
  }
  main .right{
    margin: 100px 0;
  }

  // people processes----------------------
  main .containerLarge .processesContainer{
    width: 100%;
  }
  main .containerLarge .processesContainer .processesImgs{
    flex-wrap: wrap;
  }
  main .containerLarge .processesContainer .processesImgs .box{
    width: 100%;
    margin-bottom: 30px;
  }
  // getStart
  main .getStartContainer h2{
    width: 70%;
  }
  main .getStartContainer .text{
    width: 90%
  }
}
/* versione extra mobile xs --------------------------*/

@media screen and (min-width:661px) and (max-width:768px) {
  // jumbotron-------------------------------
  main #jumbotron{
    flex-direction: column;
    align-items: center;
    .jumbotronSx{
      width: 100%;
      align-items: center;
      margin: 100px 0 0 0;
      h1{
        // line-height: 75px;
        text-align: center;
        margin-bottom: 30px;
      }
      .jumbotronButtons{
        @include buttons;
        margin: 30px 0;
        .jumbotronButton1{
          @include buttonGoogle;
        }
        .lightColor{
          color: #BDB5AF;
        }
        .jumbotronButton2{
          @include buttonSlack;
        }
      }
      .emailSend{
        @include emailSend;
        &:hover{
          color: $background-colorBlue;
          cursor: pointer;
          transition: 0.5s;
        }
      }
    }
    .jumbotronDx{
      width: 100%;
      margin: 0 0 100px 0;
    }
  }
  // feedback-reviews
  main .feedback-reviews{
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    .feedbackImg, .feedback-text{
      width: 100%;
    }
  }
  main .feedback-reviews .feedback-text{
    h2, p{
      text-align: center;
    }
    .learnMore{
      justify-content: center;
    }
  }
  main .right{
    margin: 100px 0;
  }

  // people processes----------------------
  main .containerLarge .processesContainer{
    width: 100%;
  }
  main .containerLarge .processesContainer .processesImgs{
    flex-wrap: wrap;
  }
  main .containerLarge .processesContainer .processesImgs .box{
    width: 100%;
    margin-bottom: 30px;
  }
  // getStart
  main .getStartContainer h2{
    width: 70%;
  }
  main .getStartContainer .text{
    width: 90%
  }
}
@media screen and (min-width:769px) and (max-width:992px){
  // jumbotron-------------------------------
  main #jumbotron{
    flex-direction: column;
    align-items: center;
    .jumbotronSx{
      width: 100%;
      align-items: center;
      margin: 100px 0 0 0;
      h1{
        // line-height: 75px;
        text-align: center;
        margin-bottom: 30px;
      }
      .jumbotronButtons{
        @include buttons;
        margin: 30px 0;
        .jumbotronButton1{
          @include buttonGoogle;
        }
        .lightColor{
          color: #BDB5AF;
        }
        .jumbotronButton2{
          @include buttonSlack;
        }
      }
      .emailSend{
        @include emailSend;
        &:hover{
          color: $background-colorBlue;
          cursor: pointer;
          transition: 0.5s;
        }
      }
    }
    .jumbotronDx{
      width: 100%;
      margin: 0 0 100px 0;
    }
  }
  // feedback-reviews
  main .feedback-reviews{
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    .feedbackImg, .feedback-text{
      width: 100%;
    }
  }
  main .feedback-reviews .feedback-text{
    h2, p{
      text-align: center;
    }
    .learnMore{
      justify-content: center;
    }
  }
  main .right{
    margin: 100px 0;
  }

  // people processes----------------------
  main .containerLarge .processesContainer{
    width: 100%;
  }
  // getStart
  main .getStartContainer h2{
    width: 70%;
  }
  main .getStartContainer .text{
    width: 90%
  }

}
/* versione tablet md ----------------------------*/

@media screen and (min-width:993px) and (max-width:1199px){
  // jumbotron-------------------------------
  main #jumbotron{
    flex-direction: column;
    align-items: center;
    .jumbotronSx{
      width: 100%;
      align-items: center;
      margin: 100px 0 0 0;
      h1{
        // line-height: 75px;
        text-align: center;
        margin-bottom: 30px;
      }
      .jumbotronButtons{
        @include buttons;
        margin: 30px 0;
        .jumbotronButton1{
          @include buttonGoogle;
        }
        .lightColor{
          color: #BDB5AF;
        }
        .jumbotronButton2{
          @include buttonSlack;
        }
      }
      .emailSend{
        @include emailSend;
        &:hover{
          color: $background-colorBlue;
          cursor: pointer;
          transition: 0.5s;
        }
      }
    }
    .jumbotronDx{
      width: 50%;
      margin: 0 0 100px 0;
    }
  }
  // feedback-reviews
  main .feedback-reviews{
    width: 100%;
    padding: 10px;
  }
  main .right{
    margin: 100px 0;
  }
  // getStart
  main .getStartContainer h2{
    width: 70%;
  }
}
/* versione dekstop lg */

@media screen and (min-width:1200px){

}
